// Fuentes
$font_main: 'Poppins', sans-serif;

// Tamaño de Media Queries
$fold: 280px;
$phone: 480px;
$tablet: 768px;
$tablet-custom: 850px;
$desktop: 1024px;

// Colores
$blue: #3584A6;
$dark: #1a1b15;
$white: #FFFFFF;
$gray: #e1e1e1;

$break: 5rem;

// Fuentes

$thin: 300;
$regular : 400;
$bold: 700;
$black: 900