.form {
    width: 100%;
    margin-top: 3.5rem;
}

.field {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    @include fold {
        display: block;
    }
    label {
        flex:0 0 10rem;
        color: $blue;

        @include fold {
            display: block;
            margin-bottom: 1rem;
        }
    }
    input {
        flex: 1;
        width: 90%;
        padding: 1rem;
        border-radius: 2rem;
        border: 1px solid $gray;
        color: $blue;
        outline: none;
        @include fold {
            display: block;
            width: 100%;
        }
    }
}
.alert {
    padding: $break / 2;
    text-align: center;
    color: $white;
    width: 100%;
    border-radius: 3rem;
    display: block;
    &.error {
        background-color: #FF144C;
    }
    
}