.services-list {
    @include tablet-custom {
        @include grid(2, 2rem);
    }
    .service {
        margin-bottom: 2rem;
        background-color: lighten($color: $blue, $amount: 20);
        padding: $break / 2;
        border-radius: 2rem;
        @include tablet-custom {
            margin-bottom: 0;
        }
        p {
            color: $white;
            margin: 0 0 $break / 4 0;
        }
        .price-service {
            margin: 0;
            font-size: 3rem;
            font-weight: $bold;
        }
        &.selected {
            background-color: darken($color: $blue, $amount: 20);
        }
    }
}