.tabs {
    @include fold {
        display: block;
    }
    @include grid(3, 1rem);
    
    button {
        width: 100%;
        margin: 2rem auto;
        background-color: lighten($color: $blue, $amount: 20);
        font-size: 1.2rem;
        font-weight: $bold;
        padding: 1rem;
        color: $white;
        border: none;
        text-transform: uppercase;
        border-radius: 2rem;
        outline: none;
        @include fold {
            margin: 1rem auto;
        }
        &.current {
            background-color: darken($color: $blue, $amount: 20);
        }
        &:hover {
            cursor: pointer;
        }
    }
}
