.container-barbershop {
    @include tablet {
        height: 100vh;
        @include grid(2, $break / 2);
    }
    .image {
        height: 50rem;
        background-color: #0084AA;
        background-image: url(../img/main-logo.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
        @include tablet {
            height: auto;
        }
    }
}
.app {
    width: 95%;
    margin: 0 auto;
    padding-top: $break;
    .section {
        margin-top: $break / 2;
        display: none;
        h2 {
            font-size: 2.2rem;
            font-weight: $bold;
            text-align: left;
        }
        &:first-of-type {
            display: block;
        }
    }
}